.home {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro {
  max-width: 540px;
  text-align: center;
}


.home__img {
  margin-bottom: 1.5rem;
  width: 150px;
  height: 150px;
}

.btn__home {
  padding: 0.75rem 2rem;
  line-height: 1;
  border-radius: 1.875rem;
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  border: 1px solid transparent;
  color: white;
  display: inline-block;
  background-color: var(--first-color);
  font-weight: var(--font-bold);
}

.home__name {
  font-size: var(--h1-font-size);
  font-weight: var(--font-bold);
  margin-bottom: 0.5rem;
}

.home__socials {
  display: flex;
  position: relative;
  column-gap: 2.75rem;
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

}

.home__education {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home__social__link {
  color: var(--title-color);
  font-size: 1.3rem;
  transition: .3s;
}

.home__social__link:hover {
  color: hsl(43, 100%, 68%)
}

.wheel {
  background-color: var(--title-color);
  border-radius: 100%;
  width: 0.25rem;
  height: 0.25rem;
  position: absolute;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  animation: ani-mouse 2s linear infinite;
  z-index: 9999;
}

@keyframes ani-mouse {
  0% {
    top: 5%;
  }

  15% {
    top: 10%;
  }

  50% {
    top: 5%;
  }

  100% {
    top: 5%;
  }
}

.scroll__down {
  position: absolute;
  bottom: 2.5rem;
  left: 0;
  width: 100%;
}

.home__scroll-name {
  font-size: var(--small-font-size);

}

.mouse {
  border: 2px solid var(--text-color);
  display: block;
  height: 1.6rem;
  width: 1.25rem;
  margin: auto;
  margin-top: .75rem;
  border-radius: 1rem;
  position: fixed;
  bottom: 1rem;
  transform: translateX(-50%);
  z-index: 9999;
  animation: ani-mouse 2s linear infinite reverse;
}

.shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
}

.shape {
  position: absolute;
}

.s1 {
  left: 2%;
  top: 10%;
}

.s2 {
  left: 18%;
  top: 30%;
}

.s3 {
  left: 5%;
  bottom: 30%;
}

.s4 {
  left: 2%;
  bottom: 10%;
}

.s5 {
  left: 44%;
  top: 10%;
}

.s6 {
  left: 36%;
  bottom: 10%;
}

.s7 {
  top: 20%;
  right: 25%;
}

.s8 {
  right: 24%;
  bottom: 20%;
}

.s9 {
  right: 2%;
  top: 10%;
}

.s10 {
  top: 45%;
  right: 11%;
}

.s11 {
  bottom: 10%;
  right: 2%;
}

@media screen and (max-width: 1024px) {

  .home__social__link {
    font-size: 1.125rem;
  }
}